// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {

    .login,
    .register {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .row {
            width: 100%;

            .row-center {
                justify-content: center;
                align-items: center;
                width: 50%;
                margin-left: auto;
                margin-right: auto;

                button {
                    width: 90%;
                }
            }

            button {
                width: 30%;
            }
        }
    }
}

footer {
    padding: 20px;
    background: #eee;
    text-align: center;
}
