html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  min-height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a,
.main-content {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

footer {
  padding: 20px;
  background: #eee;
  text-align: center;
}

footer::after {
  visibility: hidden;
}

.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#Volcano .section h1,
#Hawaiian .section h1,
#Supreme .section h1,
#BBQ-Chicken .section h1 {
  font-size: 3.5rem;
  margin-top: 0.75rem;
}

#Volcano .section img,
#Hawaiian .section img,
#Supreme .section img,
#BBQ-Chicken .section img {
  width: 400px;
  height: 430px;
  margin: 0 auto;
  padding: 0;
}

#Volcano .section .main-content,
#Hawaiian .section .main-content,
#Supreme .section .main-content,
#BBQ-Chicken .section .main-content {
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
}

#Volcano .section .main-content span,
#Hawaiian .section .main-content span,
#Supreme .section .main-content span,
#BBQ-Chicken .section .main-content span {
  color: #e8c7a4;
}

#Volcano .section .main-content button,
#Hawaiian .section .main-content button,
#Supreme .section .main-content button,
#BBQ-Chicken .section .main-content button {
  margin-bottom: 10%;
}

hr {
  width: 65%;
  margin: 0 auto;
}

#orders {
  width: 100%;
}

#orders .content {
  width: 100%;
}

#orders .row,
#orders .col-12 {
  padding: 0;
  margin: 0;
}

#orders h1 {
  width: 100%;
  margin: 0 auto;
  font-size: 3.5rem;
}

#orders h2 {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

#orders p {
  font-size: 0.8rem;
}

#orders #col_1 {
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid #444;
}

#orders #col_1 button {
  margin-bottom: 10%;
}

#orders #col_2 h2 {
  margin-top: 3%;
}

#orders #col_1 h2,
#orders #col_2 h2 {
  color: #363636;
  font-weight: bold;
}

#orders #col_1 button,
#orders #col_2 button {
  width: 100px;
}

@media screen and (min-width: 768px) {
  #Volcano .section h1,
  #Hawaiian .section h1,
  #Supreme .section h1,
  #BBQ-Chicken .section h1 {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
  }

  #Volcano .col_2,
  #Hawaiian .col_2,
  #Supreme .col_2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #orders p {
    font-size: 1.2rem;
  }

  #orders #col_1 {
    border-right: 2px solid #444;
    border-bottom: 0;
  }

  #orders #col_1 h2,
  #orders #col_2 h2 {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  #Volcano .section h1,
  #Hawaiian .section h1,
  #Supreme .section h1,
  #BBQ-Chicken .section h1 {
    width: 120%;
    font-size: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  #orders {
    width: 90%;
  }

  #orders .row:nth-child(2) {
    width: 70%;
    margin: 0 auto;
  }

  #orders #col_1 h2,
  #orders #col_2 h2 {
    margin-top: 0;
  }
}

